@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

:root {
    --main-color: #F9DFCD;
    --first-color: #ffffff;
    --secondary-color: #53382C;
    --third-color: #F1BC7A;
}

html {
    font-family: 'Prompt', sans-serif;
    scroll-padding-top: 60px;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;
}

body {
    height: 100px;
    overflow: hidden;
}

/* HEADER */
.header {
    background-color: var(--first-color);
    border-top: 10px solid var(--secondary-color);
    height: 100px;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 10px;
}

.header__img-logo {
    width: 100px;
    height: 100px;
    padding: 14px;
    cursor: pointer;
}

.hamburger {
    display: none;
}

/* REPONSIVE QUERIES */
@media only screen and (max-width: 1018px) {
    .header {
        display: flex;
        justify-content: space-between;
    }

    .header__img-logo {
        width: 90px;
        height: 90px;
        padding: 10px;
        cursor: pointer;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background-color: var(--secondary-color);
        margin: 6px 0;
    }

    .hamburger.open .line:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
    }

    .hamburger.open .line:nth-child(2) {
        opacity: 0;
    }

    .hamburger.open .line:nth-child(3) {
        transform: translateY(-12px) rotate(-45deg);
    }

    .navbar {
        height: 0;
        position: absolute;
        top: 90px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: var(--third-color);
        transition: 0.2s;
        overflow: hidden;
    }

    .navbar.active {
        height: 500px;
    }

    .navbar .header__nav-list {
        display: block;
        width: fit-content;
        margin: 60px auto 0 auto;
        text-align: center;
        line-height: 30px;
        transition: 0.5s;
        opacity: 0;
    }

    .navbar .header__nav-links {
        color: var(--first-color);
    }

    .navbar .header__nav-links:hover {
        color: var(--secondary-color);
    }

    .navbar .header__nav-links span {
        margin-left: 0;
    }

    .navbar.navbar.active .header__nav-list {
        opacity: 1;
    }

    .home .content {
        margin-top: 100px;
    }
}

/* REPONSIVE MOBIPHONE */
@media only screen and (max-width: 768px) {
    .header__img-logo {
        width: 90px;
        height: 90px;
        padding: 10px;
        cursor: pointer;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background-color: var(--secondary-color);
        margin: 6px 0;
    }

    .hamburger.open .line:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
    }

    .hamburger.open .line:nth-child(2) {
        opacity: 0;
    }

    .hamburger.open .line:nth-child(3) {
        transform: translateY(-12px) rotate(-45deg);
    }

    .navbar {
        height: 0;
        position: absolute;
        top: 90px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: var(--third-color);
        transition: 0.2s;
        overflow: hidden;
    }

    .navbar.active {
        height: 500px;
    }

    .navbar .header__nav-list {
        display: block;
        width: fit-content;
        margin: 60px auto 0 auto;
        text-align: center;
        line-height: 30px;
        transition: 0.5s;
        opacity: 0;
    }

    .navbar .header__nav-links {
        color: var(--first-color);
    }

    .navbar .header__nav-links:hover {
        color: var(--secondary-color);
    }

    .navbar .header__nav-links span {
        margin-left: 0;
    }

    .navbar.navbar.active .header__nav-list {
        opacity: 1;
    }

    .container .column {
        background-color: var(--main-color);
        height: 200px;
    }

    .footer-column p {
        width: 140%;
    }
}

.header__nav-list {
    display: flex;
}

.header__nav-items {
    display: block;
    padding: 10px;
}

.header__nav-links {
    color: var(--secondary-color);
    transition: .5s;
}

.header__nav-links:hover {
    color: var(--third-color);
}

.header__nav-links span {
    background-color: var(--secondary-color);
    color: var(--first-color);
    padding: 10px 20px;
    margin-left: 5px;
    border-radius: 20px;
    border: none;
}

.header__nav-links span:hover {
    background-color: var(--first-color);
    color: var(--secondary-color);
    border: 1px var(--secondary-color) solid;
    transition: .5s;
}

/* MEGA MENU 1 */
.header__nav-items:hover .menu__child {
    opacity: 1;
    visibility: visible;
}

.menu__child {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-image: linear-gradient(var(--secondary-color), rgba(255, 225, 164, 0.9)), url(../images/mega.png);
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: .25s linear;
}

.menu__child-item {
    width: 25%;
}

.menu__child-item h4 {
    text-align: center;
    font-size: 20px;
    padding: 10px 20px;
    border-bottom: 1px solid var(--third-color);
    cursor: pointer;
}

.menu__child-item a {
    color: var(--third-color);
}

.menu__child-item a:hover {
    color: var(--first-color);
}

.menu__child-item li {
    padding: 15px 15px;
    color: var(--first-color);
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}

.menu__child-item .menu__child-link {
    color: var(--first-color);
}

.menu__child-item .menu__child-link:hover {
    color: var(--third-color);
    transition: .25s linear;
}

/* MEGA MENU 2 */
.header__nav-items:hover .menu__childs {
    opacity: 1;
    visibility: visible;
}

.menu__childs {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--secondary-color);
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: .25s linear;
}

.menu__child-items {
    width: calc(100% / 3);
}

.menu__child-items h4 {
    text-align: center;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

.menu__child-items h4 a {
    color: var(--third-color);
}

.menu__child-items h4 a:hover {
    color: var(--first-color);
}


/* CONTAINER */
.container {
    position: absolute;
    margin-top: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 600px;
    padding: 50px;
    background-color: #f5f5f5;
    box-shadow: 0 30px 50px #bdbdbd;
}

.container h1 {
    text-align: center;
    color: green;
}

#slide {
    width: max-content;
    margin-top: 50px;
}

.item {
    width: 400px;
    height: 280px;
    background-position: 50% 50%;
    display: inline-block;
    transition: 1s;
    background-size: 85%;
    position: absolute;
    z-index: 1;
}


.item:nth-child(1) {
    transform: translate(-150%);
    background-position: 0% 50%;
    opacity: 0;
}

.item:nth-child(2) {
    transform: translate(-50%);
    background-position: 20% 50%;
}

.item:nth-child(3) {
    transform: translate(60%);
    background-position: 50% 50%;
}

.item:nth-child(4) {
    transform: translate(170%);
    background-position: 80% 50%;
}

.item:nth-child(n+5) {
    transform: translate(290%);
    background-position: 100% 50%;
    opacity: 0;
}

.item .content {
    position: absolute;
    top: 100%;
    background-color: var(--first-color);
    width: 100%;
    padding: 0 20px;
    text-align: center;
    box-shadow: 0 30px 50px #b9b9b9;
    transition: 0.5s;
    overflow: hidden;
    max-height: 0;
}

.item .content .name {
    font-size: 23px;
    color: var(--secondary-color);
}

.item .content .cost {
    font-size: 23px;
    color: var(--third-color);
}

.item .content button {
    padding: 10px;
    border: none;
    background-color: green;
}

.item .content button a {
    color: var(--first-color);
}

.item .content button a:hover {
    color: chartreuse;
    transition: 0.25s linear;
}

.item:hover .content {
    max-height: 150px;
}

.item:hover {
    background-size: 100%;
}

.buttons {
    position: absolute;
    bottom: 30px;
    left: 0;
    text-align: center;
    width: 100%;
}

.buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #555;
    transition: 0.5s;
    margin-left: 5px;
    margin-right: 5px;
}

.buttons button:hover {
    color: var(--first-color);
    background-color: green;
}

/* FOOTER */
.footer {
    height: 210px;
    background-color: var(--secondary-color);
    transform: translateY(-40px);
    padding: 16px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-column {
    flex-basis: 30%;
    margin-bottom: 20px;
}

.footer-column p {
    color: var(--first-color);
    font-weight: 300;
    font-size: 14px;
}

span {
    color: var(--third-color);
}

.footer h3 {
    margin-bottom: 10px;
    color: var(--third-color);
}

.social-icons .fa-facebook-f {
    background-color: var(--third-color);
    color: var(--secondary-color);
    padding: 5px 10px;
    margin-right: 10px;
}

.social-icons .fa-youtube {
    background-color: var(--third-color);
    color: var(--secondary-color);
    padding: 5px 6px;
    margin-right: 10px;
}

.social-icons .fa-instagram {
    background-color: var(--third-color);
    color: var(--secondary-color);
    padding: 5px 8px;
    margin-right: 10px;
}

.footer-bottom {
    margin-top: 20px;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    color: var(--third-color);
}

/* LOADER */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--first-color);
    transition: opacity .75s, visibility .75s;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid var(--first-color);
    border-top-color: var(--secondary-color);
    border-radius: 50%;
    animation: loading .75s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}